
  body { color: #395D96; background-color:#FFFFFF}
  fieldset { color: #395D96;background-color: #B4CDE6;}
  legend {font-weight:bold;}
  table{color: #395D96;background-color:#B4CDE6;}
  td{font-weight:bold;}
