@IMPORT url("estilo1.css");

/* Estilos generales, cabecera y pie */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px; padding: 0px; border:0px;
  background-color: #FFFFFF;
}

img { border: 0px; }
a {  color: #0066CC; text-decoration: none}
a:hover {  color: #003366; text-decoration: underline}
.pie { font-size: 11px; color: #666666; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; }
.central { font-size: 75%; color: #666666; vertical-align:top; padding-right: 10px; }
.vertical { background: url(/graficos/linea.gif); width: 5px; height: 600px; padding-right: 5px; }
.derecho { width: 140px;  vertical-align:top; }
.error { color:red; }
.peq { font-size: 80% }
td.menuizq { width: 132px;  vertical-align: top; background: #0F3862; }
td.cont {
  vertical-align: top; padding: 0px 2px 0px 16px; margin: 0px;
  background: url(graficos/esquinazul.gif) no-repeat;
}
#cabecera { margin-right: 2px; }
#cabecera .logos { background: url(/graficos/bk_tab.jpg); margin:0px; padding: 0px; border:0px;}
#cabecera .logos img.logo { display: block; }
#cabecera .logos .banner { position: absolute; top: 15px; left:310px; height: 60px; }
#cabecera .logos .publi {position: absolute; top: 15px; left:830px; height: 60px;}
#cabecera .logos .banner form { margin: 0px; padding:0px; border:0px; }
#cabecera .zonas {        text-align: right;        background: #0F3862; }

/* Bloques izquierda */
.tituloseccion {
  font-size: 70%;
  font-weight: bold;
  color: #FFFFFF;
  background: #000000 url(graficos/icon2.gif)  no-repeat;
  border: 1px solid #6699CC;
  padding-left: 21px;
  margin: 0px 5px 0px 5px;
}
.enlacesseccion {
  font-size: 60%;
  border: 1px solid #6699CC;
  margin: 0px 5px 16px 5px;
}
.enlacesseccion .ponerborde { border-right: 5px solid #003366; }
.enlacesseccion a {
  color: #0066CC;
  padding-left: 10px;
  background: #eeeeee url(graficos/icon_3.gif)  no-repeat;
  display:block;
  text-decoration:none;
  border-bottom: 1px solid #6699CC;
}
.enlacesseccion a:hover { background-color: #f8f8f8; }
.formularioseccion {
  background-color: #6699CC;
  margin: 0px 5px 16px 5px;
  font-weight: bold;
  color: white;
  font-size: 70%;
  padding: 3px;
}
.formularioseccion input, .formularioseccion select {
  font-size: 80%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #4180BE;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 4px 0px;
}
a.anuncioseccion {
  border: 1px solid #6699CC;
  background-color: #eeeeee;
  margin: 0px 5px 16px 5px;
  text-align:center;
  display:block;
}

/* Bloques de la zona central */
.titulo {
  color: #FFFFFF;
  font-weight: bold;
  padding-left: 2px;
  height: 19px;
  background: #4180BE url(graficos/der.gif)  no-repeat top right;
}
.titulo img {
  height: 19px;
  width: 15px;
  margin-right: 5px;
  vertical-align: -35%;
}
.cajasombreada {
  border: 1px solid #999999;
  background: #F5F5F5 url(/graficos/fonray.gif);
  padding: 5px;
  margin: 2px 2px 2px 0px;
  font-size: 100%;
  color: #666666
}
.cajasombreada a.negro { color: black; font-weight: bold; }
.titulares { color: #003366;font-weight: bold; text-decoration: none}
a.titulares:hover { text-decoration: underline}
.mas { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%; color: #333333; }
.lineahor {
  background: url(graficos/linea3.gif); clear:both;
}
.cajapublicidad {
  background: #F4F4F0 url(/graficos/esqizd2.gif) no-repeat;
  margin-bottom: 16px;
}
.cajapublicidad .poneresquina {
  background: url(/graficos/esqider2.gif) no-repeat top right;
  padding: 4px;
}
.cajapublicidad .titulo2 { font-weight: bold; color: #9D9D77; }
.cajapublicidad .subtitulo2 { font-weight: bold; font-size: 90%; }
.cajapublicidad .texto2 { font-size: 90%; }
#direcciones tr { vertical-align: top; }
#direcciones td.izquierda { width:52% }
#direcciones td.derecha { width:48% }
#direcciones td, #direcciones td a {
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666666;
}
#direcciones td a.dir { font-family: Tahoma; font-size: 13px; font-weight: bold; color: #000000; }
.subtitulo {
  font-weight: bold; color: #FFFFFF; font-size: 90%; margin-top: 6px; clear:both;
  background: #003366 url(/graficos/esqider2.gif) no-repeat top right;
}
.subtitulo .poneresquina {
  background: url(/graficos/esqizd2.gif) no-repeat;
  padding: 1px 5px 1px 5px;
}
.mensajeforo { color: #666666; font-size:12px; padding-left: 4px; }
.mensajeforo p { margin: 5px 0px 0px 0px; }
.otromensaje { margin-left: 5%; margin-top: 15px; }
#foros tr.par { background-color: #f8f8f8; }
#foros tr.impar { background-color: #eeeeee; }
#foros th {
  vertical-align: top; background-color: #003366; text-align:center;
  font-weight: bold; color: #FFFFFF
}
#foros td {
  vertical-align: middle; text-align:center;
  font-weight: normal; color: #666666
}
#foros .izquierda { text-align:left; }
#foros .derecha { text-align: right; }

/* Bloques de la columna derecha */
.bloquederecho {
  background: #eeeeee url(/graficos/linea.gif) repeat-y top right;
  padding:0px; margin-bottom:10px; border:0px;
  font-size: 75%;
}
.bloquederecho .titulo {
  background: transparent url(/graficos/fonder.gif) no-repeat top right;
  color: #003366; font-size: 110%; font-weight: bold;
  padding: 0px;  height: auto;
}
.bloquederecho .contenido {
  background-color: #f8f8f8;
  margin-right: 10px;
  padding: 0px 4px 0px 4px;
}
.bloquederecho .texto {
  color: #666666;
  background: #f8f8f8;
  padding: 4px 4px 0px 4px;
  margin-right:10px;
}
.bloquederecho .pie {
  background: url(/graficos/fonder2.gif) no-repeat bottom right;
}
#utilidades { width: 120px;  }
#utilidades tr { vertical-align: top; }
#utilidades td { color: #666666;  }

/* Estilos de servicios */
.migas {  font-size: 12px; font-weight: bold; color: #333333; text-decoration: none; margin-bottom: 12px;}
a.migas:hover { text-decoration: underline; color: #333333; }

h1 {
  font-size: 175%;
  font-weight: bold;
  color: #333333;
  margin: 0px;
}
.autor {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  font-weight: normal;
  color: #333333;
  text-align: justify;
}
.contenidos {
  background: url(/graficos/fonray2.gif);
  padding:4px;
  color: #666666
}
.contenidos h2 { font-size: 120%; font-weight: bold; color: #000000; }
.contenidos h3 { font-size: 115%; font-weight: bold; color: #4180BE; }
.contenidos h4 { font-size: 105%; font-weight: bold; color: #4180BE; }
.contenidos tt, .contenidos pre {  font-family: monospace; font-size: 11px; color: #990000}
.contenidos td { background: #F5F4EB; color: #666666 }
.contenidos th { background: #E3DFCC; color: #666666 }
.contenidos caption { font-size: 75%; font-weight:bold; color: #666666 }

.comentarios {
  background: #F5F5F5;
  padding:4px;
  color: #666666
}
.comentarios h2 { font-family: Tahoma; font-size: 13px; font-weight: bold; color: #000000; background: #eeeeee; padding: 4px; margin-top: 2px; }
.comentarios h2 div { font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size: 12px; color: #666666; }
.comentarios h3 { font-size: 13px; font-weight: bold; color: #FF9900; margin: 10px 0px 0px 0px; }

#busqueda input, #busqueda select {  font-size: 11px; font-weight: normal; color: #0066CC; background-color: #FFFFFF; border: 1px solid black; vertical-align: middle; }
#busqueda input.boton { font-size: 11px; font-weight: normal; color: #666666; background-color: #EEEEEE}

.resultado { padding-left: 12px; background: url(graficos/item-lista.gif)  no-repeat; }
.resultado a { display:block; font-weight: bold; }

#formulario { width:450px; }
#formulario .titulo {
  background: #C1C1A8 url(/graficos/esqider2.gif) no-repeat top right;
  font-weight: bold; color: #FFFFFF;
  margin: 0px; border: 0px; padding: 0px;
}
#formulario .titulo .poneresquina {
  background: url(/graficos/esqizd2.gif) no-repeat;
  padding: 2px 5px 0px 5px;
}
#formulario .titulo .ponerimagen {
  background: url(/graficos/ico_msgforo.gif) no-repeat;
  padding-left: 18px;
}
#formulario .contenido, #loginForm fieldset { background: #F4F4F0; padding: 8px 5px 16px 5px; border: 0px; }
#formulario input, #formulario textarea, #loginForm input { display:block; color: #666666; margin-bottom: 8px; background-color: #F4F4F0; font-size: 90%; font-weight: bold; }
#formulario select {  color: #666666; margin-bottom: 8px; background-color: #F4F4F0; font-size: 90%; }
#formulario textarea { font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
#formulario .boton, #loginForm .boton { background-color: #E6E6DC; font-size: 80%; font-weight: normal; }

.enlace { margin: 5px 0px 15px 0px; clear:both; }
.enlace a.direccion { font-weight: bold; padding-left: 2px; }
.enlace a.titular { font-weight: bold; font-size: 130%; }
.enlace .barraextras { background-color: #eeeeee; padding: 1px 4px 1px 2px; }
.enlace .barraextras img { vertical-align: middle; }
.enlace .barraextras .derecha { float: right; text-align: right; }

.novedad { padding-bottom: 10px; }
.novedad strong { display:block; color: #000000; }